<div class="contact_body col-md-12 body_blog" style="padding: 0;">
    <div class="info_studio col-md-3" style="background-image: url(./images/Contact/CONTACT_00.jpg);">
        <!-- <h3 class>CONTACT US</h3>
                <p>Now, as you were able to get a picture of who we are,
                how we work and what we can do for you and your
                brand, it is up to you to contact us and lay the foundation for 
                a new and successful business relationship</p>
                <ul class="contact-icon text-warning">
                    <li><i class="fas fa-globe text-warning"></i><p>info@redmoth.com</p></li>
                    <li><i class="fas fa-envelope text-warning"></i><p>info@redmoth.com</p></li>
                    <li><i class="fas fa-phone-volume text-warning"></i><p>(+84) 949 482573</p></li>
                </ul> -->
    </div>
    <div class="store-body col-md-9">
        <div class="content-store">
            <h3>ONI.M KIT</h3>
            <p>ARCHITECTURAL VISUALIZATION </br>
                COMPUTATIONAL DESIGN</p>

        </div>
        <div class="blog">
            {{#each blog}}
            <div class="co-md-9 row info-store">
                <div class="col-md-2 blog_param">
                    <img src="http://localhost:8000/images/upload/{{img}}" alt="">
                </div>
                <div class="col-md-7">
                    <h5>{{Title}}</h5>
                    <p>{{Description}}</p>
                    <p>{{level}}</p>
                    <a href="http://{{link}}" target="_blank" rel="noopener noreferrer">See more</a>
                </div>
            </div>
            <hr size="10px" width="93%" align="left" color="#333">
            {{/each}}
        </div>
    </div>
</div>
</div>

</div>