<div class="contact_body col-md-12" style="padding: 0;">
    <div class="info_studio col-md-3" style="background-image: url(./images/Store/BLOG_SIDE.jpg);">
        
    </div>
    <div class="store-body col-md-9">
        <div class="content-store">
            <h3>ONI.M KIT</h3>
            <p>ARCHITECTURAL VISUALIZATION </br>
                COMPUTATIONAL DESIGN</p>

        </div>
        <div class="blog">
            {{#each blog}}
            <div class="co-md-9 row info-store">
                <div class="col-md-2 blog_param">
                    <img src="http://onimanius.com:8000/images/upload/{{img}}" alt="">
                </div>
                <div class="col-md-7 info_blog">
                    <h5>{{Title}}</h5>
                    <p>{{Description}}</p>
                    <p>{{level}}</p>
                    <a href="{{link}}" target="_blank" rel="noopener noreferrer">See more...</a>
                </div>
            </div>
            
            {{/each}}
        </div>
    </div>

</div>